{% extends "feed.html" %}

{% block menuItems %}
{% for user in users %}
<form action="stories"
      method="POST"
      id="{{user.getUID()}}"
      class="menu-item"
      onclick="document.getElementById('{{user.getUID()}}').submit()">
    <input type="hidden" name="uid" value="{{user.getUID()}}">
    <div class="profile-picture">
        <img src="{{user.getImage()}}">
    </div>
    <div class="username">
        {{user.getName()}}
    </div>
</form>
<hr>
{% endfor %}
{% endblock %}