<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta property="og:title" content="Python Stories">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://pystories.peteryang.io/">
    <meta property="og:image" content="https://www.sololearn.com/Icons/Courses/1073.png">
    <meta property="og:description" content="Programming in Python, now as a fun social activity!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Stories</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
    <link rel="icon" href="{{url_for('static', filename='img/favicon.ico')}}">
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</head>