{% extends "menu.html" %}

{% block menuItems %}
{% for user in users %}
<form action="stories" method="POST" id="{{user.getUID()}}" class="menu-item">
    <input type="hidden" name="uid" value="{{user.getUID()}}">
    <div onclick="document.getElementById('{{user.getUID()}}').submit()">
        <div class="profile-picture">
            <img src="{{user.getImage()}}">
        </div>
        <div class="username">
            {{user.getName()}}
        </div>
    </div>
</form>
<hr>
{% endfor %}
{% endblock %}