{% extends "base_layout.html" %}

{% block layout %}
<div class="story-body">
    <div class="container story-body">
        <div class="story-header">
            <h2>{{username}}'s Stories</h2>
            <a href="/feed" class="close">X</a>
        </div>
        {% block story %}
        {% endblock %}
    </div>
    <!--Show navigation bar at the bottom-->
    <div class="story-navigation">
        <div>
            <div id="back" onclick="backwards()">&lt;</div>
            <div id="run" onclick="runcode({{uid}}, 0)">Run Code</div>
            <div id="next" onclick="forwards()">&gt;</div>
        </div>
    </div>
</div>
<script>
    var STORIES = {
        list: document.getElementsByClassName("story"),
        currIndex: 0
    }
    function forwards() {
        if (STORIES.currIndex < STORIES.list.length - 1) {
            hideStory(STORIES.currIndex)
            STORIES.currIndex++
            showStory(STORIES.currIndex)
            runner = document.getElementById("run")
            runner.onclick = runcode({{uid}}, STORIES.currIndex)
        }
    }
    function backwards() {
        if (STORIES.currIndex > 0) {
            hideStory(STORIES.currIndex)
            STORIES.currIndex--
            showStory(STORIES.currIndex)
            runner = document.getElementById("run")
            runner.onclick = runcode({{uid}}, STORIES.currIndex)
        }
    }
    function showStory(index) {
        STORIES.list[index].classList.remove("hide")
        STORIES.list[index].classList.add("show")
    }
    function hideStory(index) {
        STORIES.list[index].classList.remove("show")
        STORIES.list[index].classList.add("hide")
    }
    function runcode(uid, sid) {
          var xhttp = new XMLHttpRequest()
          xhttp.open("POST", "runcode", true)
          xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
          xhttp.send("user=" + uid + "&ind=" + sid)
    }
</script>
{% endblock %}